<% layout("layouts/boilerplate") %>

<body>
    <h1>All Listings</h1>

    <ul>
        <% for (let listing of listings) { %>
        <li><a href="/listings/<%= listing.id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
