<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Quora Posts &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:8080/posts/new"><button>Create New Post</button></a>
    </h1>

    <% for (post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %>
            </h3>
            <h4 class="content">
                <%= post.content %>
            </h4>
            <a href="http://localhost:8080/posts/<%= post.id %>"><button>See your post</button></a>
        </div>
        <% } %>
</body>

</html>