<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST CLASS Activities</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to REST Project.</h1>
    <a href="http://localhost:8080/posts/new"><button>Create New Post</button></a>
    <a href="http://localhost:8080/posts"><button>See All Posts</button></a>
</body>

</html>