<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>

<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Username"><br><br>
        <textarea name="content" cols="30" rows="3.5"></textarea><br><br>
        <button>Submit Post</button>
    </form>
</body>

</html>