<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Here are your posts &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://localhost:8080/posts"><button>Back</button></a>
    </h1>
    <p>Post ID: <%= post.id %>
    </p>
    <div class="post">

        <h3 class="user">@<%= post.username %>
        </h3>
        <h4>
            <%= post.content %>
        </h4>
    </div>
</body>

</html>