<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Username</title>
    <style>
      div {
        display: flex;
      }
      button {
        margin: 0 1rem;
      }
    </style>
  </head>
  <body>
    <div>
      <form action="/" method="get">
        <button>Home</button>
      </form>
      <form action="/user" method="get">
        <button>Back to Users</button>
      </form>
    </div>
    <h2>You are deleting this user: <%= user.email %></h2>
    <form method="post" action="/user/delete/<%= user.id%>?_method=DELETE">
      <input
        type="password"
        name="password"
        placeholder="Enter Password" /><br />
      <button>Delete</button>
    </form>
  </body>
</html>
