<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <h2>The total count of our user is <%= count %></h2>
    <button>Join us today!</button>
</body>

</html>