<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Users</title>
    <style>
      table,
      th,
      td {
        border-collapse: collapse;
        border: 0.1rem solid black;
      }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
      <% for (user of users) { %>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td>
          <form action="/user/<%=user.id%>/edit" method="GET">
            <button>Edit Username</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
