<footer>
  <div class="foot-info">
    <div class="foot-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div>&copy; Explore Hut Private Limited</div>
    <div class="foot-info-links">
      <a href="/privacy">Privacy</a> ·
      <a href="/terms">Terms</a> ·
      <a href="/sitemap">Sitemap</a> ·
      <a href="/conpany-details">Company Details</a>
      </a>
    </div>
  </div>
</footer>