/* Question-1 */
.container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  grid-gap: 10px;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}

.header {
  grid-column: 1 / span 12;
  background-color: antiquewhite;
}

.sidebar {
  grid-column: 1 / span 3;
  grid-row: 2 / span 10;
  background-color: brown;
}

.navigation {
  grid-column: 4 / span 6;
  background-color: aquamarine;
}

.ads {
  grid-column: 10 / span 3;
  grid-row: 2 / span 10;
  background-color: blue;
}

.main {
  grid-column: 4 / span 6;
  grid-row: 3 / span 9;
  background-color: blueviolet;
}

.footer {
  grid-column: 1 / span 12;
  background-color: cadetblue;
}

/* Question-2 */
@media (max-width: 720px) {
  .header {
    grid-column: 1 / span 12;
    background-color: antiquewhite;
  }

  .navigation {
    grid-column: 1 / span 12;
    background-color: aquamarine;
  }

  .sidebar {
    grid-column: 1 / span 3;
    grid-row: 3 / span 8;
    background-color: brown;
  }

  .main {
    grid-column: 4 / span 9;
    grid-row: 3 / span 8;
    background-color: blueviolet;
  }

  .ads {
    grid-column: 1 / span 3;
    grid-row: 11 / span 1;
    background-color: blue;
  }

  .footer {
    grid-column: 4 / span 9;
    background-color: cadetblue;
  }
}

/* Question-3 */
.loader {
  border: 50px solid black;
  border-top: 50px solid goldenrod;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation-name: spin;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
