h1 {
  background-color: yellow;
  border: 2px solid black;
}

@media (width: 400px) {
  h1 {
    background-color: pink;
  }

  div {
    height: 200px;
    width: 384px;
    background-color: blueviolet;
  }
}

/* @media (min-width: 200px) {
  h1 {
    background-color: magenta;
  }

  div {
    height: 200px;
    width: 384px;
    background-color: blueviolet;
  }
} */

/* @media (max-width: 600px) {
  h1 {
    background-color: red;
  }

  div {
    height: 200px;
    width: 384px;
    background-color: blueviolet;
  }
} */

@media (min-width: 700px) and (max-width: 800px) {
  h1 {
    background-color: green;
  }

  div {
    height: 200px;
    width: 384px;
    background-color: blueviolet;
  }
}

@media (orientation: landscape) {
  h1 {
    color: blue;
    background-color: burlywood;
  }
}
