.box {
  height: 100px;
  width: 300px;
  background-color: skyblue;

  /* animation-name: widthAnime;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: normal; */

  /* Animation Shorthand */
  animation: inThisTogether 5s ease-in-out 0s infinite normal running;
}

@keyframes inThisTogether {
  from {
    width: 10px;
    font-size: 20px;
    border-radius: 0%;
    background-color: green;
  }
  to {
    width: 300px;
    font-size: 40px;
    border-radius: 50%;
    background-color: red;
  }
}

@keyframes widthAnime {
  from {
    width: 10px;
  }
  to {
    width: 300px;
  }
}

@keyframes fontAnime {
  from {
    font-size: 20px;
  }
  to {
    font-size: 40px;
  }
}

@keyframes colorAnime {
  from {
    background-color: green;
  }
  to {
    background-color: red;
  }
}
