body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.sidebar {
  background-color: #000000;
  width: 300px;
  border-radius: 1rem; /*1rem = 16px*/
  margin-right: 0.5rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0rem 1.5rem;
}

.music-player {
  background-color: #121212;
  position: fixed;
  bottom: 0px;
  width: 99%;
  height: 4.5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.nav {
  background-color: #131313;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.75;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.library {
  background-color: #131313;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.icons {
  font-size: 1.25rem;
  display: flex;
}

.icons i {
  opacity: 0.75;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  background-color: #242424;
  height: 8rem;
  border-radius: 0.5rem;
  margin: 0.25rem 0rem 1.5rem;
  padding: 0.25rem 1rem;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 600;
}

.box-2 {
  height: 10rem;
}

.box-p2 {
  font-size: 0.75rem;
  font-weight: 600;
}

.badge {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 0.25rem 1rem;
  font-weight: bold;
  /* margin-top: 0.5rem; */
  height: 2rem;
  width: fit-content;
}

.install-app-badge {
  background-color: #000000;
  color: #ffffff;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  /* z-index: 1; */
}

.main-page-nav-icon img {
  margin-left: 0.5rem;
  background-color: #000000;
}

.main-page-other-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.other-icon {
  margin-right: 2rem;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card {
  background-color: #161616;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0.75rem;
}

.card:hover {
  background-color: #222222;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: bold;
}

.card-description {
  font-size: 0.75rem;
  color: #a7a7a7;
}

.footer {
  height: 200px;
}

hr {
  opacity: 0.3;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album {
  width: 25%;
  display: flex;
  align-items: center;
}

.player {
  width: 50%;
}

.controls {
  width: 25%;
  display: flex;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playback-bar p {
  font-size: 0.75rem;
}

.player-control-icon {
  height: 1rem;
  margin: 0rem 0.75rem;
  opacity: 0.75;
}

.player-control-icon:hover {
  opacity: 1;
}

.play-pause-icon {
  opacity: 1;
  height: 2rem;
}

.play-pause-icon:hover {
  transform: scale(1.1);
}

.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 60%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #727272;
  border-radius: 50px;
  height: 0.25rem;
  margin: 0rem 0.25rem;
}

.progress-bar::-webkit-slider-runnable-track:hover {
  background-color: #1db954;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  background-color: #1db954;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin-top: -3.55px;
}

.progress-bar::-webkit-slider-thumb:hover {
  background-color: #ffffff;
}

.album-img img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 10%;
}

.album-img {
  margin-left: 0.5rem;
  margin-right: 0.75rem;
}

.album-info h6 {
  margin: 0.25rem 0rem;
  font-size: small;
}

.album-info p {
  margin: 0;
  font-size: 0.25rem;
  color: #b3b3b3;
}

.fav-icon i {
  margin: 0.5rem;
  color: #b3b3b3;
}

.controls i {
  cursor: pointer;
  color: #b3b3b3;
  margin: 0rem 0.25rem;
}

.controls i:hover {
  color: #ffffff;
}

.volume-bar {
  display: flex;
}

.volume-progress-bar {
  width: 90%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.volume-progress-bar::-webkit-slider-runnable-track {
  background-color: #727272;
  border-radius: 50px;
  height: 0.25rem;
  margin: 0rem 0.25rem;
}

.volume-progress-bar::-webkit-slider-runnable-track:hover {
  background-color: #1db954;
}

.volume-progress-bar::-webkit-slider-thumb {
  appearance: none;
  background-color: #1db954;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin-top: -3.55px;
}

.volume-progress-bar::-webkit-slider-thumb:hover {
  background-color: #ffffff;
}
