/* Universal Selector */
* {
  font-family: "Courier New", Courier, monospace;
}

/* Element Selector */
h1 {
  color: #b93327;
}

h3 {
  color: purple;
}

/* h1, h2, h3  {property: value;} */

/* ID Selector */
#login {
  background-color: white;
}

#signup {
  background-color: #b93327;
  color: white;
}

/* #Id1, #Id2 {property: value} */

/* Class Selector */
.upvote {
  background-color: green;
  color: white;
}

/* Descendent Selector */
p a {
  color: aqua;
  background-color: purple;
}

nav ul li a {
  color: yellowgreen;
}

/* Adjacent Sibling Combinator */
p + h3 {
  text-decoration: underline;
}

.upvote + button {
  background-color: cornflowerblue;
  color: darkblue;
}

/* Child Combinator */
div > input {
  background-color: darkorange;
}

/* Attribute Selectors */
input[type="text"] {
  color: green;
}

input[type="password"] {
  color: red;
}

input[type] {
  background-color: ghostwhite;
}

/* Pseudo Class */
/* :hover */
button:hover {
  color: white;
  background-color: black;
}

h3:hover {
  text-decoration: none;
}

/* :active */
button:active {
  background-color: darkorange;
  color: black;
}

p:active {
  font-weight: bold;
  color: darkslategrey;
}

/* :checked */
input[type="radio"]:checked + label {
  color: rgb(37, 63, 255);
  font-weight: bold;
}

input[type="checkbox"]:checked + label {
  color: rgb(37, 63, 255);
  font-weight: bold;
}

/* :nth-of-type() */
div:nth-of-type(2n) {
  background-color: aqua;
}

/* Pseudo Element */

/* ::first-letter */
h1::first-letter {
  color: #000;
}

/* ::first-line */
p::first-line {
  color: red;
}

/* ::selection */
p::selection {
  background-color: yellow;
}

/* CSS Cascade Algorithm */
h3 {
  color: #000;
}

/* This is the final style.*/
h3 {
  color: maroon;
}

/* Specificity Algorithm */
main h3 {
  color: brown;
}
