/* Part-A: Selectors */
#mainTopic {
  color: blue;
}

* {
  text-align: center;
}

h1, h3, h5 {
  font-family: georgia;
}

.p {
  color: white;
  background-color: cornflowerblue;
}

div button {
  background-color: purple;
  color: azure;
}

/* Part-B: Pseudo Class & Elements */
button:hover {
  background-color: yellow;
  color: blue;
}

#p:nth-of-type(odd) { /* 2n+1 */
  color: yellow;
}

h1::first-letter {
  color: red;
}

#yes:checked + label {
  color: darkgreen;
}

/* 
- #mainContent    (100)
- div.main    (011)
- .main     (010)
- h1    (001)
*/
