/* Navbar */

.navbar {
  height: 5rem;
}

.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}

.nav-link {
  color: #222222;
}

/* Footer */
.foot-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: auto;
  text-align: center;
  padding: 1rem 0 1.5rem;
}

.foot-info-socials,
.foot-info-links {
  width: 100%;
}

.foot-info-socials i {
  font-size: 1.25rem;
  margin: 0.5rem;
}

.foot-info-links a {
  text-decoration: none;
  color: #222222;
}

.foot-info-links a:hover {
  text-decoration: underline;
}