/* Question 1 */
#q1 {
  height: 150px;
  width: 300px;
  background-color: gray;
  margin: 20px 1rem 40px 2em;
  padding: 1em;
}

/* Question 2 */
#q2 {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
}

/* Question 3 */
ul li {
  display: inline;
}
