div {
  height: 200px;
  width: 400px;
  background-color: lightslategray;

  /* border-width: 5px;
  border-style: solid;
  border-color: black; */
  border: 5px solid black;
  border-radius: 10px;
  /* margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 10px; */
  margin: 40px 30px 20px 10px;
}

h1 {
  /* border-width: 5px;
    border-style: dashed;
    border-color: maroon; */
  border: 5px solid maroon; /* Border Shorthand */
  /* border-radius: 5%; */
  margin: 0px;
}

button {
  background-color: blueviolet;
  border: 2px solid green;
  /* border-radius: 10px; */
  /* padding-right: 25px;
  padding-left: 25px; */
  padding: 10px 20px 30px 40px;
}
