h1 {
  border: 2px solid;
  width: 50%;
}

#outer {
  height: 500px;
  width: 500px;
  background-color: red;
  margin: 50px;
}

#inner {
  height: 100px;
  width: 100px;
  background-color: yellow;
  margin-left: 10%;
}
