.lottery-card {
    background-color: #1d08dd;
    border-radius: 1rem;
    transition: 0.25s ease-in-out;
}

hr {
    margin: 0;
}

.lottery-ticket {
    margin: 0;
    padding: 1rem 0;
    border-radius: 1rem 1rem 0 0;
}

.win-lottery {
    background-color: yellow;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    color: black;
    padding: 1rem;
}

.num-gen-btn {
    border-radius: 0 0 1rem 1rem;
    font-weight: bold;
    line-height: 2.5rem;
    cursor: pointer;
    user-select: none;
    background-color: darkblue;
}