#container {
  height: 600px;
  width: 60%;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
  align-content: flex-start;
}

#org {
  align-self: baseline;
  /* flex-basis: 50px; */
  /* flex-grow: 1; */
  flex: 2 2 100px; /* flex-grow | flex-shrink | flex-basis */
}

#blue {
  /* flex-basis: 400px; */
  /* flex-grow: 1;
  min-width: 100px;
  max-width: 300px; */
  flex-grow: 2;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 50px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
