body {
  font-family: "Times New Roman";
}

/* Question 1 */
#out {
  height: 400px;
  width: 400px;
  border: 2px solid darkcyan;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#in {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  text-align: center;
  font-size: 50px;
}

/* Question 2 */
#navbar {
  height: 50px;
  width: 900px;
  background-color: lightpink;
  border: 2px solid darkcyan;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#item {
  height: 50px;
  width: 80px;
  font-size: 24px;
  margin-left: 5px;
  line-height: 50px;
}
