/* Element Opacity */
#e {
  height: 100px;
  width: 100px;
  background-color: #0ff;
  opacity: 1;
  margin: auto;
  margin-top: 30px;
  transition: margin-top 2s ease 0s;
}

/* CSS Transition */
#e:hover {
  margin-top: 400px;
  background-color: #ff0;
  border-radius: 50%;
}
