/* Background Image */
div {
  width: 400px;
  height:200px;
  background-color: #7aa874;
  margin: 10px auto;
  background-image: url("https://source.unsplash.com/1920x1080/?nature");
  background-size: cover;
  color: white;
}
