<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>

<body>
    <h1>Hi @<%= username %> <button>Follow</button> <button>Message</button></h1>
    <h3>Your Followers:</h3>
    <ul>
        <% for (let name of followers) {%>
            <li>
                <%= name %>
            </li>
            <% } %>
    </ul>
</body>

</html>