<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll The Dice</title>
</head>

<body>
    <h1>The Dice Value is <%= diceValue %>
    </h1>

    <% if(diceValue==6) { %>
        <h2>Nice! You got a six. Roll the dice again.</h2>
        <% } %>
</body>

</html>