<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
  </head>
  <body>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b>.</p>

    <form action="/chats/<%= chat._id %>?_method=PUT" method="post">
      <label for="msg"><b>Edit your message here:</b></label>
      <br />
      <textarea name="msg" id="msg" cols="50" rows="10"><%= chat.message %></textarea>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
